.logout {
	background-color:#7cc48f;
	border-radius:24px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:14px 22px;
    text-decoration:none;
    position: absolute;
    right: 20px;
    top: 20px;
}
.logout:hover {
	background-color:#7dba59;
}

.home_button {
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	font-size: 25px;
	padding: 20px;
	border-radius: 50px;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	margin-top: 20% 
	}

	.home_button:hover {
		color: #ffffff !important;
		background: #f6b93b;
		border-color: #f6b93b !important;
		transition: all 0.4s ease 0s;
		}

.home_button2 {
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	font-size: 25px;
	padding: 20px;
	border-radius: 50px;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	margin-top:5%
}
		
.home_button2:hover {
				color: #ffffff !important;
				background: #2b8543;
				border-color: #2b8543 !important;
				transition: all 0.4s ease 0s;
				}

	
	

					 