body{
  /* font-family: "Montserrat"; */
}
h1{
  /* font-family: "Montserrat"; */
  /* font-weight: 500; */
  font-size: 2em;
  line-height: 1.5;
}
h3{
  font-size: 1em;
}
hr{
  width: 5%;
  margin: 100px auto;
}
.back-btn{
  /* font-family: "Montserrat"; */
  margin: 5% 3% 5% 0;
}
.avatar-img{
  border-radius: 50%;
  width: 5rem;
  float: left; /* clear: left; meaning empty-float, prevent it from wrapping img to the left */

}

.record-btn{
  margin: 2% 2% 2% 2%;
}

.info {
    display: flex;
    /* justify-content: space-between; */
}
