.logout {
	background-color:#494949;
	border-radius:24px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:14px;
    text-decoration:none;
    position: absolute;
	right: 20px;
	top:20px;
}
.logout:hover {
	background-color:#494949;
}

.home_text{
	padding: 20px
}

.home_button {
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	font-size: 23px;
	padding: 17px;
	border-radius: 50px;
	border: 2px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	margin:10%
	}

	.home_button:hover {
		color: #ffffff !important;
		background: #494949;
		border-color: #494949 !important;
		transition: all 0.4s ease 0s;
		}

.home_button2 {
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	font-size: 23px;
	padding: 17px;
	border-radius: 50px;
	border: 2px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	margin:10%
}
		
.home_button2:hover {
				color: #ffffff !important;
				background: #494949;
				border-color: #494949 !important;
				transition: all 0.4s ease 0s;
				}

	
	

					 