body{
  /* font-family: "Montserrat"; */
}
h1{
  /* font-family: "Montserrat"; */
  /* font-weight: 500; */
  font-size: 2em;
  line-height: 1.5;
}
h3{
  font-size: 1em;
}
hr{
  margin: 40px auto;
}
.back-btn{
  /* font-family: "Montserrat"; */
  margin: 5% 3% 5% 0;
}
.next-btn{
  margin: 5% 3% 5% 0;
}
.avatar-img{
  border-radius: 50%;
  width: 6rem;
  float: left; /* clear: left; meaning empty-float, prevent it from wrapping img to the left */
  border: 5px solid #494949 !important;

}

.avatar{
  border-radius: 50%;
  width: 6rem;
  float: center; /* clear: left; meaning empty-float, prevent it from wrapping img to the left */
  border: 5px solid #494949 !important;

}



.info {
    display: flex;
    /* justify-content: space-between; */
}
.btn{
  margin: 2% 2% 2% 2%;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;


  border-radius: 50px;
  border: 3px solid #494949 !important;
  /* display: inline-block; */
  /* transition: all 0.4s ease 0s; */
}

.avatar-img{
  border: 5px solid #494949 !important;
}
.step h3{
  font-size: 20px;
  margin-top:5%;
  margin-bottom:5%;
}
.step p{
  font-size:12px
}