.step h3{
    font-size: 20px;
    margin-top:5%;
    margin-bottom:5%;
  }
.step p{
    font-size:12px;
  }
.step h2{
    padding-top:30%;
}
.back-btn{
    position: absolute;
    left: 20px;
    font-size:10px;
  }
.next-btn{
    position: absolute;
    right: 20px;
    font-size:10px;
  }

.btn{
    margin-bottom:2%;
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff; 
    border-radius: 50px;
    border: 1px solid #494949 !important;
  }