.step h3{
    font-size: 20px;
    margin-top:5%;
    margin-bottom:5%;
  }
.step p{
    font-size:12px;
  }
.step h2{
    padding-top:20%;
}
.back-btn{
    position: absolute;
    left: 20px;
    font-size:10px;
  }
.next-btn{
    position: absolute;
    right: 20px;
    font-size:10px;
  }

.btn{
    margin-bottom:2%;
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    border-radius: 50px;
    border: 2px solid #494949 !important;
    /* display: inline-block; */
    /* transition: all 0.4s ease 0s; */
  }

/* start main style */
#header2{
  display: none;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #2ecc73;
  text-align: center;
  font-family: tahoma;
}

/* end main style */

/* start container */

.containe {
  width: 100%;
  margin-top: 20%;
  padding-top: 50px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.containe h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 300;
  margin-top: 10%;
  margin-bottom: 100px;
}

.containe h3 {
  font-size: 70px;
  color: #fff;
  margin: 0;
}

.containe p {
  color: #fff;
  font-size: 25px;
  margin-top: 0;
}

.containe .plus {
  background: none;
  border: 0;
  color: #fff;
  position: absolute;
  top: -60px;
  left: 5px;
  transition: .3s;
  cursor: pointer;
  outline: 0;
}

.containe .plus:hover {
  color: rgba(255, 255, 255, 0.8);
}

.containe .minus {
  background: none;
  border: 0;
  color: #fff;
  position: absolute;
  top: 110px;
  left: 5px;
  transition: .3s;
  cursor: pointer;
  outline: 0;
}

.containe .minus:hover {
  color: rgba(255, 255, 255, 0.8);
}

.containe .hours,
.containe .minutes,
.containe .seconds {
  position: relative;
  margin-right: 60px;
  display: inline-block;
}

.containe .seconds {
  margin-right: 0;
}

.containe .hours:after,
.containe .minutes:after {
  content: ":";
  font-size: 60px;
  color: #fff;
  position: absolute;
  right: -40px;;
  top: 5px;
}

.containe .set {
  background: none;
  padding: 10px 40px;
  border: 1px solid #fff;
  color: #fff;
  margin: 70px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: .3s;
  display: block;
}

.containe .set:hover {
  background: rgba(255, 255, 255, 0.5);
}

.containe .controls {
  width: 100%;
  margin: 70px auto;
  display: none;
}

.containe .controls button {
  background: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  outline: 0;
}





